html {
  overflow-y: scroll;
}

body {
    background-color: var(--color-primary);
    font-family: var(--font-default);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}